@media (max-width: 1200px)
  .container
    max-width: 960px
  .main
    &__info
      margin-bottom: 40px
@media (max-width: 992px)
  .container
    max-width: 760px
  .navbar
    &-menu
      &__link
        font-size: 12px
        line-height: 15px
  .logo
    &__line
      margin-left: 10px
  .location
    margin-left: 10px
    &__info
      font-size: 12px
      line-height: 15px
  .main
    &-wrapper
      padding: 155px 15px 0 15px
    &__title
      font-size: 44px
      line-height: 55px
    &__subtitle
      font-size: 16px
      line-height: 22px
@media (max-width: 768px)
  .container
    max-width: 700px
    width: 92%
  .navbar
    flex-wrap: wrap
    &-info
      margin-bottom: 15px
    &-menu
      flex-basis: 100%
      justify-content: space-evenly
      &__link
        font-size: 16px
        line-height: 18px
  .location
    &__info
      font-size: 15px
      line-height: 18px
  .main
    &__title
      font-size: 32px
      line-height: 40px
      margin-top: 30px
      margin-bottom: 30px
    &__subtitle
      font-size: 14px
      line-height: 18px
      margin-bottom: 30px
      margin-right: 42px
      margin-left: 41px
@media (max-width: 576px)
  .main
    &__title
      font-size: 24px
      line-height: 32px
      margin-top: 20px
      margin-bottom: 20px
    &__subtitle
      font-size: 12px
      line-height: 16px
      margin-bottom: 20px
      margin-right: 32px
      margin-left: 31px
@media (min-width: 320px) and (max-width: 480px)
  .container
  .navbar
    &-menu
      flex-basis: 90%
      min-width: 300px  
      &__link
        font-size: 12px
        line-height: 14px
        letter-spacing: 0
  .location
    &__info
      font-size: 12px
      line-height: 14px
      letter-spacing: 0
  .main
    &__title
      font-size: 18px
      line-height: 22px
      margin-top: 15px
      margin-bottom: 15px
    &__subtitle
      font-size: 12px
      line-height: 16px
      margin-bottom: 15px
      margin-right: 22px
      margin-left: 21px
    
  
   
    
